
.productsEdition{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto [last-line];
    row-gap: 20px;
    column-gap: 10px;
    padding:30px;
}
.dummySpaceForButton{
    grid-column: 1/7;
}
.cancelButton{
    grid-column: 7/9;
}
.buttonSave{
    grid-column: 9/11;
}
.inputsEdition{
    grid-column: span 5;
}
.inputsEdition .inputTextBox{ 
    width:100% !important;
}
.textAreaEdition{
    grid-column: span 10;
}
.textAreaEdition .inputTextArea{
    width:100%;
    margin-top: 10px;
}
.cardsEdition{
    grid-column: span 2;
}

@media only screen and (max-width: 1700px) {
    .cardsEdition{
        grid-column: span 3;
    }
  }

  @media only screen and (max-width: 1000px) {
    .cardsEdition{
        grid-column: span 5;
    }
  }

