
.adminMain{
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    padding:30px;
    row-gap: 20px;;
    column-gap: 10px;
}
.addButton{
    grid-column: 8/10;
}
.tableSpan{
    grid-column:1/10;
}

.titleHR{
    grid-column: 1/10;
    color:rgb(173, 122, 173);
    height: 2px !important;
}
.titleAdmin{
    grid-column: 1/5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(173, 122, 173);
}
