
.App {
  background-color: #fdbcde;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
.inchikPinkBg{
  background-color: #e489b5;
}
.topBar{
  height:150px;
  padding-bottom:2%;
}

.viewContainer{
  display:flex;
  justify-content: center;
  padding:2%;
}
.container{
  display: flex;
  border-radius: 14px;
  background-color:aliceblue;
  min-height: 70%;
  min-width: 95%;
  max-width: 900px;
  max-height: 900px;
  position:absolute;
}
.navBarIso{
  width:200px;
}

@media only screen and (max-width: 1024px) {
  .topBar{
    height:300px;
    padding-bottom:2%;
  }
}